<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOWP.ME 롤 전적 검색</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="body"></div>
    <div class="wrapper">
        <div class="contentWrapper">
            <img src="/static/image/LOGO.png">
            <form action="search" method="GET" class="inputWrapper">
                <input type="text" name="name">
                <button inputmode="submit"><img src="/static/image/123023176_825245874904293_4290720871367399631_n.png"></button>
            </form>
        </div>
        <script>document.write("<d"+"iv id='mobonDivBanner_477180'><iframe name='ifrad' id='mobonIframe_477180' src='//www.mediacategory.com/servlet/adBanner?from="+escape(document.referrer)+"&s=477180&igb=63&iwh=720_120&cntad=1&cntsr=1' frameborder='0' scrolling='no' style='height:120px; width:720px;'></iframe></div>");</script>
    </div>
</body>
</html>