<!DOCTYPE html>
<html lang="en">
<head>
    <%-analytics%> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOWP.ME 롤 전적 검색</title>
    <script data-ad-client="ca-pub-5155329354331420" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <form action="search" method="GET">
        <input type="text" name="name">
        <input type="submit" value="전적검색">
    </form>
</body>
</html>