<!DOCTYPE html>
<html lang="en">
<head>
    <%-analytics%> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="search" method="GET">
        <input type="text" name="name">
        <input type="submit" value="전적검색">
    </form>
</body>
</html>